<!--Inheriting base.html template-->
{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %} Login {% endblock %}

{% block content %}
	<div class="container">
		<h1>Login</h1>
		{{ render_form(form) }}
<!--instead of writing all the below code, we can simply write above line to render entire form-->
<!--		<form method="POST" action="{{ url_for('login') }}">-->
<!--			{{ form.csrf_token }}-->
<!--			<p>-->
<!--			{{ form.email.label }}<br>{{ form.email(size=30) }}-->
<!--			{% for err in form.email.errors %}-->
<!--				<span style="color:red" >{{err}}</span><br>-->
<!--			{% endfor %}-->
<!--			</p>-->
<!--			<p>-->
<!--			{{ form.password.label }}<br>{{ form.password(size=30) }}-->
<!--			{% for err in form.password.errors %}-->
<!--				<span style="color:red" >{{err}}</span><br>-->
<!--			{% endfor %}-->
<!--			</p>-->
<!--			{{ form.submit }}-->
<!--		</form>-->
        </div>
{% endblock %}